.bookCard{
  height: 15rem;
  width: 11rem;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.bookDetails{
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5%;
  align-items: space-around;
  justify-content: space-around;
  padding: 5px;
}
.viewDetails{
  background-color: aquamarine;
  height: calc(100% - 85%);
  display: flex;
  justify-content: center;

}
.viewDetails > a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}